body {
	background: #FFFCFB;
	color: #0c0f26;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	height: 100%;
	position: absolute;
	width: 100%;
}
/* Header and navigation */
header {
	background: #FFFCFB;/* Fallback */
	background: rgba(255, 252, 251, .8);
	height: 6em;
	overflow: hidden;
	width: 100%;
}
.header-stay, .header-leave {
	height: 5em;
	overflow: hidden;
	padding-top: 1em;
	position: relative;
	top: -100%;
	z-index: 1 ;
}
.header-stay {
	pointer-events: none;
	top: auto;
	z-index: 2 ;
}
.title {
	float: left;
	font-size: 2.5em;
    font-weight: 500;
    line-height: 1;
    pointer-events: auto;
}
.title-link {
	border: 1px solid transparent;
	border-radius: 3px;
	color: #FF637D;
	cursor: pointer;
	display: block;
    padding: .25em;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.title-link:hover {
	border: 1px solid #FF637D;
}
.intro	{
	float: left;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: .917em;
	margin-left: 6.5em;
}
.nav, .nav-list, .nav-item {
	float: right;
}
.nav {
	margin-top: 1.375em;
}
.nav-item {
	display: block;
	font-size: 1.5em;
	margin-left: 2em;
}
.nav-link {
	border-bottom: 2px solid transparent;
	cursor: pointer;
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav-link:hover {
	border-bottom: 2px solid #FF637D;
}
.foodshot {
	display: block;
	width: 100%;
}
/* Style for 3D */
.D3 {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}
.spline {
	height: 100%;
	position: relative;
	width: 100%;

	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.show--right {
	-webkit-transform: rotateY( -90deg );
	-moz-transform: rotateY( -90deg );
	-ms-transform: rotateY( -90deg );
	-o-transform: rotateY( -90deg );
	transform: rotateY( -90deg );
}
.side {
	height: 100%;
	overflow-y: scroll;
	padding-top: 6em;
	position: absolute;
	top: 0;
	width: 100%;

	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.side-container {
	border-top: 2px solid #EDEAEA;/* Fallback */
	border-top: 2px solid rgba(237, 234, 234, .8);
}
.front {
}
.right {
	-webkit-transform: rotate3d( 0, 1, 0, 90deg );
	-moz-transform: rotate3d( 0, 1, 0, 90deg );
	-ms-transform: rotate3d( 0, 1, 0, 90deg );
	-o-transform: rotate3d( 0, 1, 0, 90deg );
	transform: rotate3d( 0, 1, 0, 90deg );
}
.left {
	-webkit-transform: rotate3d( 0, 1, 0, -90deg );
	-moz-transform: rotate3d( 0, 1, 0, -90deg );
	-ms-transform: rotate3d( 0, 1, 0, -90deg );
	-o-transform: rotate3d( 0, 1, 0, -90deg );
	transform: rotate3d( 0, 1, 0, -90deg );
}

/* -------------------------------------------------------------- 

   == STRUCTURE: ========================
    * Page width:            1088 px
    * Number of columns:     6
    * Column width:          128 px
    * Margin width:          64 px
   ======================================
   
-------------------------------------------------------------- */

/* A wrapper for all the columns. */
.wrapper {
  max-width: 68em;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.wrapper:before, .wrapper:after {
	content: "";
	display: table;
}
.wrapper:after {
	clear: both;
}

/* Sets up basic grid floating and margin. */
.col {
	float: left;
	margin-right: 0.05882352941176%;
}

/* The last column in a row needs this class. */
.col:last-child { 
	margin-right: 0;
}

/* Use these classes to set the width of a column. */
.one  { width: 11.764705882353%;}
.two  { width: 29.411764705882%;}
.three  { width: 47.058823529412%;}
.four  { width: 64.705882352941%;}
.five  { width: 82.352941176471%;}
.six  { width: 100%; margin: 0;}

/* Add these to a column to append empty cols. */
.right-1  { padding-right: 17.647058823529%;}
.right-2  { padding-right: 35.294117647059%;}
.right-3  { padding-right: 52.941176470588%;}
.right-4  { padding-right: 70.588235294118%;}
.right-5  { padding-right: 88.235294117647%;}

/* Add these to a column to prepend empty cols. */
.left-1  { padding-left: 17.647058823529%;}
.left-2  { padding-left: 35.294117647059%;}
.left-3  { padding-left: 52.941176470588%;}
.left-4  { padding-left: 70.588235294118%;}
.left-5  { padding-left: 88.235294117647%;}
