body {
    background: #fffcfb;
	font: 1em/1.5 "Courier";
}
.snackz {
	color: #0c0f26;
	cursor: default;
	font-size: .75em;
	font-weight: bold;
	margin-top: -3em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
span {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
span:hover {
	background: #ff33fa;
	color: #fffcfb;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.1s ease-in-out;
}